/* подключение шрифта */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Inter"),
         url("../Inter-Medium.ttf") format("ttf"),
}

* {
    /* color: #354153;  */
    /* задаем цвет текста для всех элементов */
}

body {
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
    /* color: #354153; */
}
 
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #FFFFFF; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 20px; */
    /* правая граница */
    border-right: 2px solid #EAECF0;
}

.sidenav .title {
    /* padding: 32px 108px 24px 24px; */
    padding-bottom: 16px;
    font-size: 24px;
    width: 280px;
    height: 124px;
    display: block;
    /* justify-content: left; */
    /* align-items: ; */
    /* margin-bottom: 10px; */
}

.sidenav .title p {
    padding: none;
    margin: 0%;
    /* font-size: 24px; */
}

.logo {
    display: flex;
    /* justify-content: center; */
    width: 148px;
    height: 32px;
    align-items: center;
    padding-left: 24px;
    padding-top: 32px;
    /* align-items: center; */
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo p {
    padding-left: 16px;
}

.search {
    width: 232px;
    height: 36px;
    padding-left: 24px;
    padding-top: 24px;
}

.search input {
    width: 232px;
    height: 36px;
    border-radius: 8px;
    /* border-color: #EAECF0; */
    border: none;
    outline: 2px solid #EAECF0;
}

.el {
    padding-left: 16px;
}

.nav {
    padding-top: 16px;
}

.nav a {
    width: 248px;
    height: 40px;
    margin: 8px 8px 8px 24px;
    text-decoration: none;
    font-size: 16px;
    color: #354153;
    display: block;
}

.footer {
    position: fixed; 
    bottom: 0;
    width: 232px;
    size: 16px;
    color: #667085;
}

.footer p {
    margin: 8px 8px 8px 24px;
}

header {
    margin-left: 280px; /* Same as the width of the sidebar */
    padding: 0px 32px;
    color: #0D1421;
    border-bottom: 2px solid #EAECF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_price {
    width: 178px;
    height: 40px;
    border: none;
    outline: 2px solid #EAECF0;
    font-size: 16px;
    font-style: normal;
    border-radius: 8px;
    /* font-weight: 600; */
    /* line-height: 24px; */
}

.main {
    margin-left: 280px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    color: #0D1421;
}

.container {
    /* width: 1576px; */
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr)); /* каждый элемент будет иметь минимальную ширину 100px и занимать доступное пространство */
    gap: 32px;
    /* justify-items: center;
    justify-content: space-between; */
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
}

.card {
    width: 370px;
    height: 600px;
    border: none;
    outline: 2px solid #EAECF0;
    border-radius: 8px;
    /* margin-right: 32px; */
    /* margin-bottom: 20px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.card .head {
    width: 322px;
    height: 24;
    padding-top: 24px;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #667085;
}

.card img {
    width: 322px;
    height: 225px;
    margin-left: 24px;
    margin-top: 16px;
    background-color: #667085;
}

.card .title {
    width: 322px;
    margin-left: 24px;
    margin-top: 16px;
    font-size: 24px;
    color: #0D1421;
    line-height: 32px;

}

.card .descr {
    width: 322px;
    margin-left: 24px;
    margin-top: 16px;
    font-size: 18px;
    color: #354153;
    line-height: 28px;
    
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
